#include "resource.h"
#include <windows.h>

IDD_OPTIONS_DIALOG DIALOGEX 0, 0, 240, 220
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ZTE MiFi Plugin Settings"
FONT 9, "MS Shell Dlg"
BEGIN
    LTEXT           "Device IP:", IDC_STATIC_IP, 10, 12, 60, 10
    EDITTEXT        IDC_EDIT_IP, 75, 10, 155, 14, ES_AUTOHSCROLL

    LTEXT           "Interval(ms):", IDC_STATIC_INTERVAL, 10, 32, 60, 10
    EDITTEXT        IDC_EDIT_INTERVAL, 75, 30, 155, 14, ES_AUTOHSCROLL | ES_NUMBER

    GROUPBOX        "Display Items", -1, 10, 52, 220, 120

    AUTOCHECKBOX    "Operator", IDC_CHECK_OPERATOR, 20, 68, 200, 10
    AUTOCHECKBOX    "Signal Strength", IDC_CHECK_SIGNAL, 20, 84, 200, 10
    AUTOCHECKBOX    "Operator + Signal", IDC_CHECK_OP_SIGNAL, 20, 100, 200, 10
    AUTOCHECKBOX    "Upload/Download Speed", IDC_CHECK_UPDOWN_SPEED, 20, 116, 200, 10
    AUTOCHECKBOX    "Upload Speed", IDC_CHECK_UP_SPEED, 20, 132, 200, 10
    AUTOCHECKBOX    "Download Speed", IDC_CHECK_DOWN_SPEED, 20, 148, 200, 10

    DEFPUSHBUTTON   "OK", IDOK, 120, 190, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 180, 190, 50, 14
END
